<div class="px-5 bg-purple-700/40 flex justify-center flex-col lg:px-[20vw]">
    <div class="flex justify-center flex-col bg-white/90 p-13">
        <div class="flex justify-center items-center flex-col mb-10">
            <img src="cdklogo.png" alt="cdk logo" class="w-60">
            <h1> </h1>
            <h1 class="font-extrabold text-2xl lg:text-5xl mb-10 text-purple-700">Colegio de Kidapawan</h1>
            <p class="text-justify lg:text-lg">Colegio de Kidapawan (CdK), formerly known as the North Cotabato
                Institute of Technology (NORCIT), 
                is a private, non-sectarian tertiary
                institution located on Quezon Boulevard in Kidapawan City, Cotabato, Philippines. Established in 1986,
                CdK
                began with a modest team of instructors and staff, operating
                initially from a rented building on Datu Ingkal Street. In 1992, the college relocated to its current
                campus
                along Quezon Boulevard. Over the years, CdK has
                expanded its academic offerings to include various technical courses and four-year degree programs, such
                as
                Bachelor of Science in Nursing, Civil Engineering, Computer Engineering, Computer Science,
                Hotel and Restaurant Management, Secondary Education, Elementary Education, Mass Communication,
                Criminology,
                and Business Administration. All
                degree programs are duly recognized by the Commission on Higher Education (CHED).
            </p>
        </div>
        <hr>
        <div class="mt-5 md:flex md:justify-center  md:items-center flex-col mb-10">
            <h1 class="font-extrabold text-2xl mb-5" >Our Courses</h1>
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:w-70/100">
                <div class="hidden lg:block" >
                    <img src="it.jpg" alt="" class=" rounded-bl-lg rounded-tl-lg size-full">
                </div>
                <div class="flex items-center flex-col h-full w-full rounded-2xl bg-purple-700/60 lg:rounded-br-2xl lg:rounded-tr-lg px-5 py-5" >
                    <img src="itLogo.png" alt="" class="size-30 lg:size-60">
                    <h1 class="font-extrabold text-white mt-20 text-sm">BACHELOR OF SCIENCE IN</h1>
                    <h1 class="font-extrabold text-white text-sm">INFORMATION TECHNOLOGY</h1>
                    <a routerLink="/enroll" class="bg-white rounded-sm h-13 w-5/5 mt-5 font-stretch-75% text-purple-700 font-bold flex justify-center items-center">Enroll Now</a>
                </div>
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:w-70/100 mt-5">
                <div class="hidden lg:block" >
                    <img src="it.jpg" alt="" class=" rounded-bl-lg rounded-tl-lg size-full">
                </div>
                <div class="flex items-center flex-col h-full w-full rounded-2xl bg-purple-700/60 lg:rounded-br-lg lg:rounded-tr-lg px-5 py-5" >
                    <img src="paramedical.jpg" alt="" class="size-30 lg:size-60" id="param">
                    <h1 class="font-extrabold text-white mt-20 text-sm">BACHELOR OF SCIENCE IN</h1>
                    <h1 class="font-extrabold text-white text-sm">NURSING</h1>
                    <a class="bg-white rounded-sm h-13 w-5/5 mt-5 font-stretch-75% text-purple-700 font-bold flex justify-center items-center">Enroll Now</a>
                </div>
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:w-70/100 mt-5">
                <div class="hidden lg:block" >
                    <img src="it.jpg" alt="" class=" rounded-bl-lg rounded-tl-lg size-full">
                </div>
                <div class="flex items-center flex-col h-full w-full rounded-2xl bg-purple-700/60 lg:rounded-br-lg lg:rounded-tr-lg px-5 py-5" >
                    <img src="crim.jpg" alt="" class="size-30 lg:size-60" id="param">
                    <h1 class="font-extrabold text-white mt-20 text-sm">BACHELOR OF SCIENCE IN</h1>
                    <h1 class="font-extrabold text-white text-sm">CRIMINOLOGY</h1>
                    <a class="bg-white rounded-sm h-13 w-5/5 mt-5 font-stretch-75% text-purple-700 font-bold flex justify-center items-center">Enroll Now</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="flex flex-col  lg:hidden">
            <h1 class="text-3xl font-extrabold">Blogs and Events</h1>
            <div class="bg-purple-700/60 rounded-2xl h-80 flex py-5 flex-col items-center">
                <div class="bg-white  h-[50%] w-[90%] flex justify-center items-center">
                    <h1>Blog Image (Prototype)</h1>
                </div>
                <div>
                    
                </div>
            </div>
        </div>
        
    </div>
    <hr>
    
    
</div>
