<div class="main-container">
    <div class="container">
        <div class="image-container">
            <div class="image">
                <img id="cdkLogo" src="cdk.jpg" alt="cdk" style=" margin-top: 10px;">
            </div>
            <div class="text-container">
                <h1 id="text" style="font-size: 40px; text-align: center;">Colegio de Kidapawan</h1>
                <p id="text" style="font-size: 20px; text-align: center;">Where Quality and Relevant Education is Within
                    Everyone's Reach</p>
            </div>
        </div>
        <div class="register-form">
            <h1 style="font-size: 50px; color: white; margin-bottom: 10px;">Register</h1>
            <form (ngSubmit)="register()">
                <div class="name-form">
                    <input placeholder="First Name" [(ngModel)]="userInfo.firstName" [ngModelOptions]="{standalone: true}" required>
                    <input placeholder="Middle Name" [(ngModel)]="userInfo.middleName" [ngModelOptions]="{standalone: true}">
                    <input placeholder="Last Name" [(ngModel)]="userInfo.lastName" [ngModelOptions]="{standalone: true}">
                    <div class="select">
                        <h4 style="color: white;">Program: </h4>
                        <select placeholder="hello" [(ngModel)]="userInfo.program" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let option of options" [value]="option">{{option}}</option>
                        </select>
                    </div>
                    <input placeholder="Student ID"[(ngModel)]="userInfo.studentId" [ngModelOptions]="{standalone: true}"/>
                    <input placeholder="CdK Account e.g example@cdk.edu.ph" [(ngModel)]="userInfo.email" [ngModelOptions]="{standalone: true}">
                    <input placeholder="Password" type="password" [(ngModel)]="userInfo.password" [ngModelOptions]="{standalone: true}">
                    <input type="password" placeholder="Confirm Password" [(ngModel)]="userInfo.confirmPassword" [ngModelOptions]="{standalone: true}">
                    <button type="submit">Register</button>
                    <p *ngIf="errorMessage">{{errorMessage}}</p>
                </div>
            </form>
        </div>
    </div>
</div>