<div class="main-container">
    <div class="container">
        <div class="image-container">
            <div class="image">
                <img id="cdkLogo" src="cdk.jpg" alt="cdk" style="height: 100%;  margin-top: 10px;">
            </div>
            <div class="text-container">
                <h1 id="text" style="font-size: 40px; text-align: center;">Colegio de Kidapawan</h1>
                <p id="text" style="font-size: 20px; text-align: center;">Where Quality and Relevant Education is Within
                    Everyone's Reach</p>
            </div>
        </div>
        <div class="login-form">
            <h1 style="font-size: 50px; color: white; margin: 0;">Welcome!</h1>
            <form (ngSubmit)="login()">
                <div class="form">

                    <label>Email</label>
                    <input type="email" placeholder="example@cdk.edu.ph" [(ngModel)]="email" name="email" required>
                    <label>Password</label>
                    <input type="password" placeholder="Enter your password" [(ngModel)]="password" name="password"
                        required>
                </div>
                <a>Forgot password?</a>
                <button class="registerLink" (click)="navigateToRegister()">Don't you have an account?</button>
                <div class="buttons-container">
                    <button class="button-submit" type="submit">Login</button>

                </div>
            </form>
        </div>
    </div>
</div>