<div class="flex justify-center w-full mb-3">
    <h1 class="font-extrabold text-2xl text-purple-700">STUDENT LIST</h1>

</div>
<hr>
<div class="flex justify-center items-center gap-5 mt-5 mb-5">
    <div class="relative flex items-center w-full max-w-md">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 absolute left-4 text-gray-500">
            <path
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
            </path>
        </svg>
        <input class="bg-purple-100 rounded-full h-12 w-full pl-10 focus:outline-none"
            placeholder="Search for the name of a student" />
    </div>

    <div class="flex items-center justify-center">
        <a data-modal-target="static-modal" data-modal-toggle="static-modal"
            class="p-3 rounded-lg bg-purple-700 text-white font-medium w-40 text-center" (click)="addStudent()">
            Add Student
        </a>
    </div>
</div>


<table class="w-full border-collapse border border-gray-300 shadow-md rounded-lg overflow-hidden">
    <thead class="bg-purple-700 text-white">
        <tr>
            <th class="p-3 text-left border-b border-gray-400">Student ID</th>
            <th class="p-3 text-left border-b border-gray-400">Name</th>
            <th class="p-3 text-left border-b border-gray-400">Section</th>
            <th class="p-3 text-left border-b border-gray-400">Year</th>
            <th class="p-3 text-left border-b border-gray-400">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students" class="bg-gray-100 even:bg-gray-200 hover:bg-purple-200 transition-colors">

            <td class="p-3 border-b border-gray-300">{{ student.studentId }}</td>
            <td class="p-3 border-b border-gray-300">{{ student.lastName }}, {{ student.firstName }} {{
                student.middleName }}</td>
            <td class="p-3 border-b border-gray-300">{{ student.year }}</td>
            <td class="p-3 border-b border-gray-300">{{ student.status }}</td>
        </tr>
    </tbody>
</table>